.root {
    -fx-background-color: #303030;
}

.context-menu {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: #FFFFFF;
}

.check-box {
    -fx-text-fill: #FFFFFF;
}

.radio-button {
    -fx-text-fill: #FFFFFF;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab {
    -fx-background-color: #505050;
}

.tab-pane .tab-content-area {
    -fx-background-color: #404040;
}

.tab-pane .tab:selected {
    -fx-background-color: #0000FF;
}

.tab .tab-label {
    -fx-text-fill: #FFFFFF;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #505050;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.date-picker .month-year-pane {
    -fx-background-color: #404040;
}

.date-picker .day-name-cell {
    -fx-background-color: #505050;
    -fx-text-fill: white;
}